[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kppw99
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kppw99
	label-Verified = -1..+1 group user/kppw99
	push = group user/kppw99
	read = group user/kppw99
	rebase = group user/kppw99
	removeReviewer = group user/kppw99
	submit = group user/kppw99
[access "refs/heads/*"]
	create = group user/kppw99
	push = +force group user/kppw99
	pushMerge = group user/kppw99
	read = group user/kppw99
[access "refs/tags/*"]
	push = group user/kppw99
	push = +force group user/kppw99
